$form-color : rgba(0,22,122,0.4);
$border-style : 5px solid black;
$input-padding: 20px;
$form-control-border: 1px solid red;
$form-control-radius: 0px;
$text-color: white;

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $text-color;
}

.grid-container {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100%;
}

label {
    margin-right: 15px;
}

form {
    background-color: $form-color;
    padding: 50px 120px;
    backdrop-filter: blur(10px);
}

.form-control {
    border: $form-control-border;
    border-radius: $form-control-radius;
    width: 280px;
}

.top {
    border-top: $border-style;
    padding-top: $input-padding;
}

.bottom {
    border-bottom: $border-style;
    padding-bottom: $input-padding;
}